@page
@model UploadFileModel
@{
}


<h1>Upload Files Page</h1>

<div>
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>Select an image file to upload</label>
            <input type="file" asp-for="FileName" onchange="readURL(this)" accept="image/*"/>
        </div>
        <br />
        <div>
            <input type="submit" value="Upload" class="btn btn-primary"/>
        </div>
    </form>
</div>
