@page
@model UploadFileModel
@{
}


<h1>Upload Files Page</h1>

<div>
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>Select an image file to upload</label>
            <input type="file" asp-for="UserFile" onchange="readURL(this)" accept="image/*" />
        </div>
        <br />
        <div>
            <input type="submit" value="Upload" class="btn btn-primary"/>
        </div>
    </form>
</div>


<div>
    <img id="Img" src="" alt="User Picture" style="width: 200px;"/>
</div>

<script>
    function readURL(input) {
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("Img").setAttribute("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>